.bite {
	float: left;
  margin: 2px;
}
.bite img{
	height: 50px;
}
  .bite .image {
		height: 50px;
    margin: 10 10 10 10;
  }

#bitesTitle {
	font-size: 21px;
	margin-bottom: 10px;
}

.biteContainer {
	padding: 8px 8px 6px 8px;
	background-color: #fff;
	display: inline-block;
}

.bite_time {
	padding: 0 2px 0 2px;
	margin-top: 5px;
	font-size: 0.8em;
	background-color: #fff;
	display: inline-block;
}

.latestBites {
	padding: 10px;
}

.latest_image img{
	max-height: 200;
	max-width: 200px;	
}

#biteCount {
/*	background-color: #fff;*/
	padding: 6px;
	margin-bottom: 10px;
	display: inline-block;
}

/* About
------------------ */
.about_desc {
	font-size: 1.3em;
	color: #666;
/*	background-color: #00D2C8;*/
	width: 800px;
	margin: 0 auto;
}

.about_desc  a {
	color: #666;
	text-decoration: underline;
}

/* Tutorial 
------------------ */
.tutorial {
	padding:10px 10px 6px 10px;
/*	background-color: #D9D9D9;*/
/*	background-color: #ccc;*/
	margin: 0px auto 0px auto;
	position: relative;
  width: 800px;	
}
	.tutorial_img {
		width: 500px;
		border: 2px solid #fff;
	}
	
	.tutorial_detail {
		float: right;
		width: 284px;
	}
	.tutorial_title {
		color: #636363;
		font-size: 1.3em;
		border-bottom: 3px solid #636363;
		display: inline-block;
/*		padding: 5px 0 5px 0;*/
		margin: 0 0 10px 0;
	}
	.tutorial_desc {
		color: #636363;
		font-size: 1em;
	}
		.tutorial_desc  a {
			color: #636363;
			text-decoration: underline;
		}