.bite {
	float: left;
  margin: 2px;
}
.bite img{
	height: 70px;
}
  .bite .image {
		height: 50px;
    margin: 10 10 10 10;
  }

#bitesTitle {
	font-size: 21px;
	margin-bottom: 10px;
}

/* Tutorial 
------------------ */
