.bite {
	float: left;
  margin: 2px;
}
.bite img{
	height: 50px;
}
  .bite .image {
		height: 50px;
    margin: 10 10 10 10;
  }

#bitesTitle {
	font-size: 21px;
	margin-bottom: 10px;
}

.biteContainer {
	padding: 10px;
	background-color: #F7F7F7;
	display: inline-block;	
}

.latestBites {
	padding: 10px;
}

.latest_image img{
	max-height: 250px;
}

#biteCount {
	background-color: #F7F7F7;
	padding:10px;
	margin-bottom: 10px;
}

/* Tutorial 
------------------ */
.tutorial {
	padding:10px 10px 6px 10px;
	background-color: #F7F7F7;
	margin-top: 10px;
}
	.tutorial_img {
		width: 500px;
	}
	
	.tutorial_detail {
		float: right;
		width: 266px;
	}
	.tutorial_title {
		color: #636363;
		font-size: 1.3em;
		border-bottom: 3px solid #636363;
		display: inline-block;
/*		padding: 5px 0 5px 0;*/
		margin: 0 0 10px 0;
	}
	.tutorial_desc {
		color: #636363;
		font-size: 1em;
	}
		.tutorial_desc  a {
			text-decoration: underline;
		}