
<!-- <div class="about_desc">Web vandalism for fun. Pixel Monster outfits you with subverting technology for web images. To send a monster out you click the icon on the top left corner on the image, it will munch pixels and reclaim the web space for you.
</div> -->