
<!-- <div class="about_desc">Web vandalism for fun. Pixel Monster outfits you with subverting technology for web images. To send a monster out you click the icon on the top left corner on the image, it will munch pixels and reclaim the web space for you. Install the Chrome Extension from <a href="https://chrome.google.com/extensions/detail/hpcnpeooeefjifgmdnfahcmkefgmpphj?hl=en">store</a>.
</div>

<div style="margin: 0 auto; width:800px;">
	<img src="/images/about/app_screenshot1.png" width="390">
	<img src="/images/about/app_screenshot2.png" width="390">
	<img src="/images/about/app_screenshot3.png" width="390">
	<img src="/images/about/app_screenshot4.png" width="390">
</div> -->