<div style="left:100px;position:absolute;">
	
<div class="about_desc">Web vandalism for fun. Pixel Monster outfits you with subverting technology for web images. To send a monster out you click the icon on the top left corner on the image, it will munch pixels and reclaim the web space for you. <br><br>Install the Chrome Extension from <a href="https://chrome.google.com/extensions/detail/hpcnpeooeefjifgmdnfahcmkefgmpphj?hl=en" target="_blank">store</a>.
</div>

<div class="about_image">
	<img src="/images/about/app_screenshot1.png">
	<img src="/images/about/app_screenshot2.png">
	<img src="/images/about/app_screenshot3.png">
	<img src="/images/about/app_screenshot4.png">
</div>

</div>