<div style="left:120px;position:absolute;">

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/21.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Install</div>
		<div class="tutorial_desc">Visit Pixel Monster <a href="https://chrome.google.com/extensions/detail/hpcnpeooeefjifgmdnfahcmkefgmpphj?hl=en">site</a> and install.</div>
	</div>
</div>

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/22.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Permission</div>
		<div class="tutorial_desc">Click the install button to grant permission.</div>
	</div>
</div>

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/23.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Icon</div>
		<div class="tutorial_desc">After successful install, the Pixel Monster icon will appear.</div>
	</div>
</div>

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/24.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Apply</div>
		<div class="tutorial_desc">Now you can visit any website you want, click on the icon and select apply monster.</div>
	</div>
</div>

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/28.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Send Monster</div>
		<div class="tutorial_desc">Mouse over any image on the current webpage, and click on the icon on the top left corner.</div>
	</div>
</div>

<div class="tutorial">
	<img class="tutorial_img" src="/images/tutorial/29.png" />
	<div class="tutorial_detail">
		<div class="tutorial_title">Munch</div>
		<div class="tutorial_desc">Enjoy!</div>
	</div>
</div>


</div>